@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

/* Text color variables */
:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
	--secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;

	--primary-bg-color: #E9E9E9;
	--secondary-bg-color: #C7C8C9;
	--primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--text-color: #28292E;
	--link-color: #28292E;
	--icon-color: #56575A;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;
}

/* DEFAULT STYLES */
body {
  background: var(--primary-bg-color);
  font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
  border-radius: 50rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

i {
  color: var(--icon-color);
}

b {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.55rem;
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

h1, h2, h3 {
  font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p, span, li {
  font-size: 1rem;
}

p {
  text-align: justify;
}

/* HEADER DESKTOP */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 200;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out .4s;
  padding-right: 1rem;
}

/*IDIOM BUTTON */
.dropdown-idiom {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  padding: 8px;
  font-size: 12px;
  border-color: var(--primary-color);
  border-radius: .5rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: var(--primary-color);
  background-color: var(--primary-bg-color);
  border-color: var(--primary-color);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary-color);
  padding: 10px 10px;
  font-size: 10px;
  font-weight: 100;
  text-decoration: none;
  display: block;
  border-color: var(--primary-color);
}

.show {
display: block;
}
/* navbar */

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  z-index: 1000;

}

.menu__item {
  width: 100%;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
  z-index: 1000;

}

.menu--mobile .menu__link {
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
  z-index: 1000;

}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
  color: var(--primary-color);
}

.menu__icon, .menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: .75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

/* MAIN  NAVIGATION */

.menu--principal {
  gap: 1rem;
}

.menu--social {
  gap: 1rem;
  padding-bottom: 1rem;
}


.resume-btn{
position: fixed;
bottom: 20px;
right: 20px;
border-radius: 2rem;
background-color: #2237c28e;
display: flex;
align-items: center;
padding: 20px;
margin-bottom: 50px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn-proj{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: #2237c28e;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out .3s;
  cursor: pointer;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out .3s;
}

.btn span, .btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

main, .projects, .about, .contact {
  padding: 2.5rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-main{
  width: 70%;
}

/* TECHNOLOGIES */

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem;
  background: var(--secondary-bg-color);
  margin-top: -5.5rem;
}

.technologies h2 {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: start;
;
}

.technologies__list {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  max-width:600px ;
}

.technologies__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-border-color);
  border-radius: 50rem;
}

.technologies__logo {
  height: 2.4rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__cover {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.card__cover img{
  width: 100px;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.card__description {
  color: var(--title-color);
}

.card__list, .about__list {
  margin-left: 1.25rem
}

.card__item, .about__item {
  list-style: disc;
}

.card__buttons, .description__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card__buttons .btn {
  padding: .65rem 1.25rem;
}

.card__buttons .btn span {
    font-size: 1rem;
}

.card__body .technologies__list {
  gap: .75rem;
}

.card__body .technologies__item {
  width: 4rem;
  height: 4rem;
}

.card__body .technologies__logo {
  height: 2rem;
}

.projects .btn {
  width: auto;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.about__content1, .about__content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.about__photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  border-radius: 50rem;
  border: 1px solid var(--primary-border-color);
}

.about__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.about__icons {
  display: flex;
  align-items: center;
  gap: .85rem;
}

.about__icons i {
  font-size: 1.25rem;
}

.about__content2 .col1, 
.about__content2 .col2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
}

.about__content2 .col1 .row1,
.about__content2 .col1 .row2 {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
}

.job-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
  padding: 1rem;
}

.see-more button{
  display: flex;
  margin-top: 2rem;
  font-size: 18px;
  text-decoration:underline;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--primary-color);
}

.job-card h4{
  font-size: 1.5rem;
}
.logo-container{
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  width: 10rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem;
}

.logo-container img {
  width: 100%;
  height: 100%;
}


.job-card {
  width: 300px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  z-index: 10;
}

.job-card-front  {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
}
 .job-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  border-radius: 1.5rem;
}
.job-card-back {
  transform: rotateY(180deg);
}

.job-card.flipped {
  transform: rotateY(180deg);
}

.text-button {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin: 0;
  outline: none;
}

.text-button:hover {
  color: rgb(255, 255, 255);
}

.job-card-back h4 {
  margin-top: 0; /* Remove margem superior */
  margin-bottom: 1rem; /* Adiciona espaçamento inferior */
  font-size: 1.2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 10rem;
  height: 10rem; /* Ajuste a altura para se adaptar à largura */
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem;
}

.logo-container img {
  width: 100%;
  height: auto; /* Preserve a proporção da imagem */
}

.job-card-back p {
  margin: 0.5rem 0; /* Espaçamento uniforme entre parágrafos */
   /* Centraliza o texto */
  font-size: 14px;
  margin: 10px;
}

.job-card-back li {
  font-size: 14px;
  margin: 10px;
}

.accordion__header {
  width: 100%;
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-border-color);
  background: transparent;
  text-align: left;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.accordion__header span {
  color: var(--title-color);
}

.accordion__header.start {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.accordion__header.end,
.accordion__item.active .accordion__body.end {
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  
}

.accordion__item.active .accordion__header.end{
  border-radius: 0;
  
}

.accordion__body {
  display: none;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border: 1px solid var(--primary-border-color);
;
  }

  .space{
    padding-top: 2rem;
  }

.accordion__item.active .accordion__header {
  background: var(--secondary-bg-color);
}

.accordion__item.active .accordion__body {
  display: flex;
}

.accordion__item.active .bi-caret-down-fill {
  transform: rotate(180deg);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.contact p {
  text-align: center;
}

.contact .btn {
  width: auto;
}

.contact .email {
  text-transform: lowercase;
}

footer {
  margin-bottom: 5rem;
}

footer p {
  font-size: .875rem;
  text-align: center;
  padding: 1rem;
}

/* Responsividade */
@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  main, .projects, .about {
    padding: 8rem 6rem 4rem 6rem;
  }

  .contact {
    padding: 6rem;
  }
  .contact p {
    width: 80%;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies {
    padding: 6.25rem 6rem 2rem 6rem;
    margin-top: -6rem;
  }

  footer {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .projects__card {
    flex-direction: row;
  }

  .projects__card.card--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .card__cover {
    width:auto;
    height:  350px;
  }

  .about {
    gap: 5rem;
  }

  .about__content1, .about__content2 {
    display: grid;
    grid-template-columns: 34% 60%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .about__description h2 {
    text-align: left;
  }

  .description__buttons {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn {
    width: auto;
  }

  .technologies {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }

  .technologies h2 {
    font-size: 3rem;
    width: 55%;
  }

  .technologies__list {
    gap: 1rem;
  }

  .technologies__item {
    width: 6rem;
    height: 6rem;
  }
  
  .technologies__logo {
    height: 3rem;
  }

  p, span, li {
    font-size: 1.15rem;
  }

  .card__buttons .btn,
  .description__buttons .btn {
    width: auto;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.25rem;
  }

  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }
  
  .technologies, .projects, .about {
    padding: 10rem 15rem 4rem;
  }

}